<a class=" item">
    Chatroom
</a>
<a class="item">
    Messages
</a>
<div class="right menu">
    <div class="item segment">
        <div class="ui teal basic button">Log out</div>
        <div class="ui primary basic button">Log in</div>
        <div class="ui orange basic button">Sign Up</div>
    </div>
</div>