<%
=begin%>
 <a class=" item"></a> 
<%
=end%>
<%= link_to  "Chatroom", root_path, class: "item" %>
<a class="item">
    Messages
</a>
<div class="right menu">
    <div class="item segment">
        <div class="ui teal basic button">Log out</div>
        <div class="ui primary basic button"><%= link_to  "Log in", login_path %></div>
        <div class="ui orange basic button">Sign Up</div>
    </div>
</div>